# Redirects related to gerrit topic 'cdg-reorg'
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/config-openstack.html$ /project-deploy-guide/charm-deployment-guide/$1/configure-openstack.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-upgrade-openstack.html$ /project-deploy-guide/charm-deployment-guide/$1/upgrade-openstack.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-series-upgrade-openstack.html$ /project-deploy-guide/charm-deployment-guide/$1/upgrade-series-openstack.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-series-upgrade.html$ /project-deploy-guide/charm-deployment-guide/$1/upgrade-series.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-series-upgrade-specific-procedures.html$ /project-deploy-guide/charm-deployment-guide/$1/percona-series-upgrade-to-focal.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-swift.html$ /project-deploy-guide/charm-deployment-guide/$1/swift.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-rgw-multisite.html$ /project-deploy-guide/charm-deployment-guide/$1/rgw-multisite.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-nova-cells.html$ /project-deploy-guide/charm-deployment-guide/$1/nova-cells.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-bridge-interface-configuration.html$ /project-deploy-guide/charm-deployment-guide/$1/configure-bridge.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-encryption-at-rest.html$ /project-deploy-guide/charm-deployment-guide/$1/encryption-at-rest.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-ceph-migration.html$ /project-deploy-guide/charm-deployment-guide/$1/ceph-charm-migration.html
RedirectMatch 301 ^/project-deploy-guide/charm-deployment-guide/([^/]+)/app-pci-passthrough-gpu.html$ /project-deploy-guide/charm-deployment-guide/$1/pci-passthrough.html

